body {
  background-color: #747474;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar-col {
  background-color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #ea9d4b;
  border-radius: 1rem;
  width: 600px;
  height: 450px;
  box-shadow: 0px -8px 48px 18px #FFAA0D;
}

.avatar-box {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.avatar-overlay {
  position: absolute;
}

#smile-overlay {
  width: 45%;
  bottom: -7%;
  left: 25%;
}

#hat-overlay {
  width: 60%;
  bottom: 32%;
  left: 18%;
}

#glasses-overlay {
  width: 60%;
  top: -6%;
  left: 15%;
}

.editor-col {
  background-color: #edf1f5;
  flex: 2;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  width: 430px;
  height: 300px;
  margin: auto;
  box-shadow: 0px 36px 48px 18px #FFAA0D;
}

.nav-pills {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-right: 4px solid #dee2e6;
  width: 80px;
}

.nav-pills .nav-link {
  color: rgb(116, 69, 167);
  font-size: 2rem;
  margin: 0.5rem 0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.nav-pills .nav-link.active {
  background-color: black;
  color: #FFAA0D;
  transform: scale(1.2);
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2.3rem;
}

.text-center button,
.text-center .btn {
  width: 120px;
  height: 100px;
  border-radius: 35px;
  border: 5px solid #FF7518;
  background-color: rgb(116, 69, 167);
  transition: all 0.2s ease-in-out;
}

.text-center button img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

.text-center button:hover,
.text-center .btn:hover {
  background-color: #FF7518;
  color: #FFFFFF;
}